ToolsConfigRootPath                 external

[Action]
    Name                            retrieve
    Dependency                      retrieve-tools
    [Command]
        Command                     retrieve-source
        [Arguments]
            Repo                    clang
            
[Action]
    Name                            generate
    Dependency                      retrieve
    [Command]
        Command                     cmake
        [Arguments]
            Arguments               -DPYTHON_HOME="{function {ToolFolder} python3}" -DLLDB_RELOCATABLE_PYTHON=1 -DSWIG_DIR="{function {ToolFolder} swig}" -DSWIG_EXECUTABLE="{function {ToolPath} swig}" -DCMAKE_INSTALL_PREFIX="{RootPath}/clang/{BinarySubFolder}"
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}
            CmakeSourcePath         {RootPath}/clang/{SourceSubFolder}
            
[Action]
    Name                            build
    Dependency                      generate
    [Command]
        Command                     cmake-build
        [Arguments]
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}
            CmakeTarget             install
