ToolsConfigRootPath                 external

[Action]
    Name                            retrieve
    Dependency                      retrieve-tools
    [Command]
        Command                     retrieve-source
        [Arguments]
            Repo                    clang
            
[Action]
    Name                            generate
    Dependency                      retrieve
    [Command]
        Command                     cmake
        [Arguments]
            Arguments               {if {CmakeGenerator} -G "{CmakeGenerator}"} -DPYTHON_HOME="{function {ToolFolder} python3}" -DPYTHON_EXECUTABLE="{function {ToolPath} python3}" -DLLDB_RELOCATABLE_PYTHON=1 -DSWIG_DIR="{function {ToolFolder} swig}" -DSWIG_EXECUTABLE="{function {ToolPath} swig}" -DCMAKE_INSTALL_PREFIX="{RootPath}/clang/{BinarySubFolder}" {if {CmakeCompiler} -DCMAKE_C_COMPILER="{CmakeCompiler}" -DCMAKE_CXX_COMPILER="{CmakeCompiler}"}
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}
            CmakeSourcePath         {RootPath}/clang/{SourceSubFolder}
            
[Action]
    Name                            build
    [Command]
        Command                     retrieve
        [Arguments]
            Repo                    clang
