ToolsConfigRootPath                 external

[Action]
    Name                            retrieve
    Dependency                      retrieve-tools
    [Command]
        Command                     retrieve-source
        [Arguments]
            Repo                    clang
            
[Action]
    Name                            generate-32
    Dependency                      retrieve
    [Command]
        Command                     cmake
        [Arguments]
            Arguments               -DPYTHON_HOME="{function {ToolFolder} python3}" -DLLDB_RELOCATABLE_PYTHON=1 -DSWIG_DIR="{function {ToolFolder} swig}" -DSWIG_EXECUTABLE="{function {ToolPath} swig}" -DCMAKE_INSTALL_PREFIX="{RootPath}/clang/{BinarySubFolder}/win32/win32/"
            Is64Bits                false
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}/win32
            CmakeSourcePath         {RootPath}/clang/{SourceSubFolder}

[Action]
    Name                            generate-64
    Dependency                      retrieve
    [Command]
        Command                     cmake
        [Arguments]
            Arguments               -DPYTHON_HOME="{function {ToolFolder} python3}" -DLLDB_RELOCATABLE_PYTHON=1 -DSWIG_DIR="{function {ToolFolder} swig}" -DSWIG_EXECUTABLE="{function {ToolPath} swig}" -DCMAKE_INSTALL_PREFIX="{RootPath}/clang/{BinarySubFolder}/win32/win64/"
            Is64Bits                true
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}/win64
            CmakeSourcePath         {RootPath}/clang/{SourceSubFolder}
            
[Action]
    Name                            build-32
    Dependency                      generate-32
    [Command]
        Command                     cmake-build
        [Arguments]
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}/win32
            
[Action]
    Name                            build-64
    Dependency                      generate-64
    [Command]
        Command                     cmake-build
        [Arguments]
            CmakeBuildPath          {RootPath}/clang/{TempSubFolder}/win64
            
[Action]
    Name                            generate
    Dependency                      generate-32
    Dependency                      generate-64
            
[Action]
    Name                            build
    Dependency                      build-32
    Dependency                      build-64
    